.header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
  /* justify-content: space-between; */
}

.header .search-form {
  /* width가 300px이지만, 부모 엘리먼트 width의 60%를 넘지는 않도록 설정. */
  /* 브라우저 폭을 줄여서 부모 엘리먼트 폭이 400px이 된다면, 400px의 60%인 240px */
  /* 아무리 창 사이즈가 작아져도 최소한의 여백을 확보하기 위한 의도. */
  width: 300px;
  max-width: 60%;
  margin-left: auto;
  margin-right: 3rem;
}

.primary {
  padding: 1rem;
}

.secondary {
  padding: 1rem;
}

.secondary-a {
  background: #fff;
}

.secondary-b {
  color: #fff;
  background: #666;
}

.footer {
  padding: 1rem;
  text-align: center;
}

#modal-switch {
  font-size: 2rem;
}
#modal-switch:checked ~ .modal {
  display: flex;
}
#modal-switch:checked ~ label[for="modal-switch"]:before {
  color: dodgerblue;
}
.modal {
  z-index: 1;
  display: none;
}
label[for="modal-switch"] {
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  width: 40px;
  height: 40px;
}
label[for="modal-switch"]:before {
  content: "메뉴";
}

#modal-switch,
label[for="modal-switch"] span {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  top: 0;
}
